$gl: #bdffd1;
$g: #65E080;
$gm: #00C12B;
$gd: #007D1C;

$bl: #d3fdff;
$bm: #9de9ff;
$bd: #0032dd;

body {
  font-family: Cambo, Georgia, serif;
  font-size: 14px;
  color: #222222;
  background-color: #ffffff;
  > .container {
    padding-bottom: 40px;
  }
}

code,
kbd,
pre,
samp,
.mono {
  font-family: "PT Mono", monospace, monospace;
  font-size: 1em;
}

.cen {
  text-align: center;
}

.blue-btn {
  cursor: pointer;
  color: #0014cf;
  padding: 3px;
  border-radius: 3px;
  background-color: $bl;
  display: inline-block;
  &:hover {
    background-color: $bm;
    text-decoration: underline;
  }
  &:active {
    background-color: $bd;
  }
}

// Random numbers
@media (max-width: 500px) {
  .number-selection {
    .col-xs-1 {
      width: 33.3333%;
      &:last-child {
        margin-left: 33.333%;
      }
    }
    .spacer-col {
      display: none;
    }
  }
}

.number-opt {
  background-color: $gl;
  padding: 0.4em 0;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  // border-right: solid 1px $gm;
  // &:last-child {
  //   border-right: none;
  // }
  &:hover {
    background-color: $g;
  }
  &:active {
    background-color: $gm;
  }
}

.not-ready {
  line-height: 1.5em;
}

.help-again {
  font-size: 20px;
  border-radius: 0 0 3px 3px;
  border: solid 2px $bd;
  border-top: none;
}

.about {
  margin-top: 20px;
  border-top: solid 1px $bm;
  .mail-button {
    border: 0px;
  }
}

footer {
  position: fixed;
  padding: 0px 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fafaff;
  border-top: solid 1px $bl;
  color: #8dadc3;
  > .me {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    > a {
      vertical-align: top;
    }
  }
}